*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mulish", sans-serif;
  background-image: linear-gradient(320deg, #fbab67 50%, #e97156);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  outline: none;
}

.count {
  margin: 0 0.6em;
}

.increment-decrement {
  padding: 0.15em 2em;
  font-size: 0.65rem;
  color: #393a41;
  border: 1px solid #ccc;
  background: #fff;
}

.increment-decrement:hover {
  border: 1px solid rgb(68, 67, 67);
}

.card {
  width: 30rem;
  height: 33rem;
  padding: 0 1.5em;
  background: #fff;
  position: relative;
  border-radius: 10px;
  z-index: 50;
}

.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  left: 0;
  border-radius: 10px 10px 0 0;
  height: 5rem;
  background: #ff6849;
}

i {
  cursor: pointer;
}

/* cart */

cart {
  box-shadow: rgba(168, 83, 34, 0.2) 0px 8px 24px;
  border-radius: 3px;
}
.logo {
  display: inline-block;
  display: flex;
  padding-top: 2.5rem;
  align-items: center;
  justify-content: center;
}

.logo svg {
  height: 5rem;
  padding: 0.8rem;
  width: 5rem;
  z-index: 100;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.cart header {
  text-align: center;
  margin-top: 1rem;
}

.cart h5 {
  color: #272930;
}

.item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.3rem;
  font-size: 0.95rem;
}

.flex {
  display: flex;
  gap: 0.25rem;
}

.food {
  width: 55%;
}

.item p:first-child {
  font-weight: 600;
}

.remove-all {
  width: 100%;
  padding: 0.8em 0;
  font-size: 0.9rem;
  border-radius: 5px;
  border: none;
  outline: none;
  background: #ff6849;
  color: #fff;
  font-weight: medium;
}

.remove-all:hover {
  background: #e0563a;
}

.remove-all:hover:active,
.increment-decrement:active {
  transform: scale(0.98);
}

.remove-all-none {
  display: none;
}
